header {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
}
svg {
  width: 32px;
  height: 32px;
  fill: black;
}

header > div > a {
  all: unset;
  display: inline-block;
  height: 32px !important;
  width: 32px !important;
}

#search-container > div {
  justify-content: space-between;
  margin-bottom: 24px;
}

#search-container > label {
  font-size: 16px;
  display: inline-block;
  margin-bottom: 4px;
}

#search-container > div > input {
  width: calc(100% - 4px);
  margin-right: 16px;
  height: 28px;
}

#search-container > div > button > svg {
  width: 24px;
  height: 24px;
  fill: black;
}

main {
  display: grid;
  grid-row-gap: 16px;
}
main > #game-container {
  border: 1px solid black;
  padding: 24px;
  box-shadow: 1px #888888;
}
main > #game-container > h2 {
  margin-bottom: 8px;
}
main > #game-container > a {
  margin-top: 8px;
  display: inline-block;
}
